<title>Sourjya Basu</title>
<style>
body{
background-color:black;
text-align:center;
color:white;
}
h1{
font-family:Freestyle Script;
color:white;
text-align:center;
font-size:50px;
}
c{
    font-size:100px;
}
input[type="button"]{
padding:20; 
background-color:green;
border-width:1px;  
color:white; 
}
input[type="reset"]{
padding:20;   
background-color:red;
border-width:1px;  
color:white;
}
.i{
    border-width:0;
    border-color:red;
    padding:10;
    border-radius:50px;
}
a{
color:red;
text-decoration:none;
text-align:center;
}
a:hover{
color:red;
background-color:white;
text-decoration:none;
text-align:center;
}
textarea{
border-color:white;
border-width:1px;
border-radius:5px;
background-color:DeepPink;
;
font-size:20px;
}
img{
    border-radius:800px;
    border-width:10px;
}
.gh{
        background-image:url("https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
        border-style:solid;
        border-width:10px;
            border-color:Yellow;
            text-align:center;
            color:white;
            background-size:cover;
            background-position:center;
    }
 </style>
 <div class="gh">
<h1><b><i><c>S</c></i></b><sup><u>ourjya</sup></u><b><i><c>B</c></i></b><sup><u>asu</sup></u></h1>
<img src="https://dl.dropbox.com/s/bntexpbvgp4d2ui/IMG_20181217_172527_624.JPG?dl=0" height="200" width="200">
<pre>
<b>
    <form name="calculator">
<textarea rows="2" cols="40" id="b" readonly>Hi! How are you?</textarea> 
    
     <input class="i" type="text" name="ans" size="40" placeholder="Ask Me..." value=""autofocus onkeyup="c(this.form)"/>
 
 <input type="button" onclick="c(this.form)" value="Send 📨" onwebkitspeechchange="c(this.form)"/> <input type="reset" value="Leave It">
 </form>
       <a href="https://twitter.com/messages/compose?recipient_id=1057244852063100930&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-screen-name="@basu_sourjya" data-show-count="false">Message @@basu_sourjya</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
      <b>Made By Sourjya Bose</b>
      </div>
    <script language="javascript">
    var n=prompt("What's your name ?","Your Name Here");
    var m=alert(n+", Scroll On The Pink Box To View Larger Messages.");
    function c(form)
    {
    
     if(form.ans.value == "askseries" )
      {
        window.location.href="https://askseriesvss.github.io/"
      }
          if(form.ans.value=="google" )

     {
       window.location.href="https://www.google.com/"
       
      }
      if(form.ans.value=="github" )

     {
       window.location.href="https://github.com/"
      }
      
      
     if(form.ans.value=="idiot"||form.ans.value=="Idiot"|| form.ans.value=="Stupid")

     {
       document.getElementById('b').innerHTML ="You insulted me ! How dare you ! You dirty Hound";
       }
        if(form.ans.value=="who are you"||form.ans.value=="Who are you"||form.ans.value=="WHO ARE YOU")
     {
      document.getElementById('b').innerHTML ="I am Sourjya Basu.";
       }
       if(form.ans.value=="Surat")

     {
      document.getElementById('b').innerHTML ="Surat is a city in Gujarat";
       } 
       if(form.ans.value=="I want to mail you")

     {
      window.location.href='mailto:sourjyabose@gmail.com'
       } 
    }
    </script>
     </body>
    </html>
